<div class="container">
    <p class="text-start h1">Ресурсы</p>

    <form #editForm="ngForm">
      <div class="mb-3">
        <label for="editresourcename" class="form-label">Наименование</label>
        <input class="form-control" id="editresourcename" [(ngModel)]="model.name" [name]="'editresourcename'" required>
      </div>
      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!editForm.valid"
          (click)="onSubmit()">{{ isEditingExisting() ? 'Сохранить' : 'Добавить' }}</button>
        @if (isEditingExisting()) {
          @switch(model.status) {
            @case(ResourceStatus.Active) {
              <button
                type="submit"
                class="btn btn-warning ms-2"
                (click)="onUpdateStatus(ResourceStatus.Archived)">В архив</button>
            }
            @case(ResourceStatus.Archived) {
              <button
                type="submit"
                class="btn btn-success ms-2"
                (click)="onUpdateStatus(ResourceStatus.Active)">В активные</button>
            }
          }
          <button
            type="submit"
            class="btn btn-danger ms-2"
            (click)="onDelete()">Удалить</button>
        }
      </div>
    </form>
</div>
