<div class="container">
    <p class="text-start h1">Поступление</p>

    <form #editForm="ngForm">
      <div class="mb-3">
        <label class="form-label">Номер поступления</label>
        <input class="form-control" [(ngModel)]="model.number" [name]="'editincomenumber'" [disabled]="isLoading()" required>
      </div>

      @for (incomeItem of model.items; track incomeItem; let i = $index) {
        <div class="row mb-3">
          <div class="form-group col-sm-6 col-md-6 col-lg-4">
            <label>Ресурс</label>
            @if (isLoading()) {
              <p>{{ incomeItem.resource }}</p>
            } @else {
              <select class="form-control"
                [name]="'resourceselect' + i"
                [(ngModel)]="incomeItem.resourceId">
                @for (resourceOption of availableResources(); track resourceOption.id) {
                  <option [value]="resourceOption.id">{{ resourceOption.name }}</option>
                }
              </select>
            }
          </div>
          <div class="form-group col-sm-6 col-md-6 col-lg-4">
            <label>Количество</label>
            @if (isLoading()) {
              <p>{{ incomeItem.count }}</p>
            } @else {
              <input type="number" class="form-control"
                [name]="'countinput' + i"
                [(ngModel)]="incomeItem.count">
            }
          </div>
          <div class="form-group col-sm-6 col-md-6 col-lg-4">
            <label>Единицы измерения</label>
            @if (isLoading()) {
              <p>{{ incomeItem.measure }}</p>
            } @else {
              <select class="form-control"
                [name]="'measureselect' + i"
                [(ngModel)]="incomeItem.measureId">
                @for (measureOption of availableMeasures(); track measureOption.id) {
                  <option [value]="measureOption.id">{{ measureOption.name }}</option>
                }
              </select>
            }
          </div>
        </div>
      }

      <div class="row mb-3">
        <button class="btn btn-primary" [disabled]="isLoading()" (click)="onAddNewItem()">Добавить ресурс</button>
      </div>

      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!editForm.valid || isLoading()"
          (click)="onSubmit()">{{ isEditingExisting() ? 'Сохранить' : 'Добавить' }}</button>
        @if (isEditingExisting()) {
          <button
            type="submit"
            class="btn btn-danger ms-2"
            (click)="onDelete()"
            [disabled]="isLoading()">Удалить</button>
        }
      </div>
    </form>
</div>
