<p-table
  stripedRows
  [value]="items ? items.concat() : []"
  [totalRecords]="total"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  [lazy]="lazyLoad ? true : false"
  [lazyLoadOnInit]="lazyLoad ? true : undefined"
  (onLazyLoad)="lazyLoad ? lazyLoad($event) : undefined"
  selectionMode="single"
  [(selection)]="selected"
  (onRowSelect)="rowClick($event)"
  >
  @if(isActionsDisplayed) {
    <ng-template #caption>
      <div class="flex flex-wrap justify-end gap-2">
        <p-button [label]="addActionTitle" icon="bi bi-plus-circle" text (onClick)="onAddClick.emit()" />
      </div>
    </ng-template>
  }
  <ng-template #header>
    <tr>
      @for (columnData of columns; track columnData.field) {
        <th>{{ columnData.title }}</th>
      }
    </tr>
    <tr>
      @for (columnData of columns; track columnData.field) {
        @switch(columnData.filtering) {
          @case(FilteringType.MULTISELECT) {
            <th>
              <p-columnFilter [field]="columnData.field" matchMode="in" [showMenu]="false">
                <ng-template #filter let-value let-filter="filterCallback">
                  <p-multiselect
                    [ngModel]="value"
                    [options]="columnData.selectOptions"
                    placeholder="Все"
                    (onChange)="filter($event.value)"
                    optionLabel="title"
                    optionValue="value"
                    style="min-width: 14rem"
                    [panelStyle]="{ minWidth: '16rem' }">
                    <ng-template let-option #item>
                      <div class="flex items-center gap-2">
                        <span>{{ option.title }}</span>
                      </div>
                    </ng-template>
                  </p-multiselect>
                </ng-template>
              </p-columnFilter>
            </th>
          }
          @case(FilteringType.DATERANGE) {
            <th style="min-width:10rem">
                <div class="flex items-center justify-between">
                    Дата
                    <p-columnFilter
                      type="date"
                      [field]="columnData.field"
                      display="menu"
                      [showOperator]="false">
                    </p-columnFilter>
                    <!--
                    [showMatchModes]="false"
                    [showOperator]="false"
                    -->
                </div>
            </th>
          }
          @case(FilteringType.RESOURCESTATUS || FilteringType.MEASURESTATUS || FilteringType.CLIENTSTATUS) {
            <th>
              <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                <ng-template #filter let-value let-filter="filterCallback">
                  <p-select
                    [ngModel]="value"
                    [options]="columnData.selectOptions"
                    optionLabel="title"
                    optionValue="value"
                    placeholder="Все"
                    (onChange)="filter($event.value)"
                    [showClear]="true"
                    style="min-width: 12rem">
                    <ng-template let-option #item>
                      <p-tag
                        [value]="option.title"
                        [severity]="statusToPrimengSeverity(option.value)" />
                    </ng-template>
                  </p-select>
                </ng-template>
              </p-columnFilter>
            </th>
          }
          @default {
            <th></th>
          }
        }
      }
    </tr>
  </ng-template>
  <ng-template #body let-rowData let-item>
    <tr style="height: 4rem;" [pSelectableRow]="rowData">
      @for (columnData of columns; track columnData.field) {
        @switch(columnData.type) {
          @case(ColumnType.TEXT) {
            <td>{{ item[columnData.field] }}</td>
          }
          @case(ColumnType.DATEONLY) {
            <td>{{ item[columnData.field] | dateOnly }}</td>
          }
          @case(ColumnType.RESOURCESTATUS) {
            <td>
              <p-tag
                [value]="item[columnData.field] | resourceStatus"
                [severity]="statusToPrimengSeverity(item[columnData.field])" />
            </td>
          }
          @case(ColumnType.MEASURESTATUS) {
            <td>
              <p-tag
                [value]="item[columnData.field] | measureStatus"
                [severity]="statusToPrimengSeverity(item[columnData.field])" />
            </td>
          }
          @case(ColumnType.CLIENTSTATUS) {
            <td>
              <p-tag
                [value]="item[columnData.field] | clientStatus"
                [severity]="statusToPrimengSeverity(item[columnData.field])" />
            </td>
          }
          @case(ColumnType.RESOURCES) {
            <td>{{ item[columnData.field].join(', ') || '-' }}</td>
          }
          @case(ColumnType.MEASURES) {
            <td>{{ item[columnData.field].join(', ') || '-' }}</td>
          }
          @case(ColumnType.CLIENT) {
            <td>{{ item[columnData.field] | clientNameObservable | async }}</td>
          }
          @default {
            <td><span>TODO</span></td>
          }
        }
      }
    </tr>
  </ng-template>
</p-table>
